:root {
  --color: #333;
  --font-family: "Source Sans Pro", sans-serif;
  --secondary-color: rgb(90, 164, 238);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 200;
}
.header__logo-container {
  display: flex;
  align-items: center;
  max-width: 500px;
  position: Absolute;
  left: 50px;
}
.header__logo-img {
  height: 70px;
  border-radius: 35px;
}

.header__logo-sub {
  font-size: 25px;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
.header__logo-sub:hover {
  color: var(--secondary-color);
}
.nav {
  position: Absolute;
  right: 50px;
  flex-shrink: 0;
  top: 40px;
}
.nav-link {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}
.nav-link:hover {
  color: var(--secondary-color);
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}
.burger {
  position: absolute;
  right: 40px;
  cursor: pointer;
  display: none;
  top: 40px;
}

.introduction {
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.8),
    rgba(245, 245, 245, 0.8)
  );
  background-image: url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
  background-position: center;

  text-align: center;
  padding: 200px 250px 40px 250px;
}

.introduction-content {
  font-family: var(--font-family);
  color: var(--color);
}

h1,
h2 {
  font-size: 66px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #111;
  font-weight: 800;
}
h1 {
  margin-top: 20px;
}
p {
  color: var(--color);
  font-size: 35px;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  margin-bottom: 120px;
}
.contact {
  margin-top: 70px;
  margin-bottom: 50px;
}
.social-media-all {
  position: absolute;
  top: 240px;
  background: #fff;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  padding: 7px;
  z-index: 100;
}

.social-media {
  width: 50px;
}

.social-media-icon {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.social-media-icon:hover {
  background-color: var(--secondary-color);
}

.contact__form-container {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  background: #fff;
  padding: 80px;
  text-align: right;
  max-width: 1000px;
  border-radius: 5px;
  margin-top: 60px;
  margin: 60px auto 0 auto;
}
.contact__form-label {
  color: #666;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}
input {
  color: #333;
  padding: 25px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 18px;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 25px;
}
.input-message {
  height: 200px;
}
.btn {
  width: 130px;
  display: block;
  padding: 10px 15px;
  font-size: 17px;
  font-family: var(--font-family);
  color: white;
  background: var(--secondary-color);
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  transition: all 200ms ease-in-out;
  margin-top: 35px;
  margin-left: 700px;
}
footer {
  background: rgb(192, 191, 191);
  height: 40px;
  padding-top: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  color: #757575;
  font-size: 16px;
  font-size: 1.6rem;
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
}
.footer-name {
  font-size: 15px;
  opacity: 0.8;
  font-style: italic;
  margin: 0 auto;
}
@media (max-width: 1253px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 25px;
  }
  .introduction {
    padding: 150px 200px 0px 200px;
  }
}

@media (max-width: 1032px) {
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .contact {
    width: 200px;
  }

  h2 {
    font-size: 40px;
  }
  .btn {
    margin: 0 auto;
  }
}
@media (max-width: 945px) {
  .header__logo-sub {
    font-size: 15px;
  }
  p {
    margin-top: 20px;
  }
}
@media (max-width: 840px) {
  .nav {
    position: absolute;
    right: 0px;
    top: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }
  .nav-link {
    background-color: white;
    width: 100%;
    border: 1px solid #757575;
    font-size: 15px;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
@media (max-width: 630px) {
  .introduction {
    padding: 150px 50px 0px 50px;
  }
  .social-media-all {
    display: none;
  }
}
@media (max-width: 450px) {
  .header__logo-container {
    position: Absolute;
    left: 10px;
  }
  .header__logo-img {
    height: 40px;
    border-radius: 20px;
  }
  .header__logo-sub {
    font-size: 12px;
  }
  .contact__form-label {
    font-size: 20px;
  }
  input {
    font-size: 10px;
  }
  .introduction {
    height: 400px;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }

  .header__logo-sub {
    font-size: 9px;
  }
  .introduction {
    padding: 100px 10px 0px 10px;
  }

  h2 {
    font-size: 20px;
  }
}
