:root {
  --color: #333;
  --font-family: "Source Sans Pro", sans-serif;
  --secondary-color: rgb(90, 164, 238);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 200;
}
.header__logo-container {
  display: flex;
  align-items: center;
  max-width: 500px;
  position: Absolute;
  left: 50px;
}
.header__logo-img {
  height: 70px;
  border-radius: 35px;
}

.header__logo-sub {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
.header__logo-sub:hover {
  color: var(--secondary-color);
}
.nav {
  position: Absolute;
  right: 50px;
  flex-shrink: 0;
  top: 40px;
}
.nav-link {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}
.nav-link:hover {
  color: var(--secondary-color);
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}
.burger {
  position: absolute;
  right: 40px;
  cursor: pointer;
  display: none;
  top: 40px;
}

.projects {
  background-position: center;
  text-align: center;
}

.project-overview {
  font-family: var(--font-family);
  color: var(--color);
  padding: 200px 250px 0px 250px;
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.8),
    rgba(245, 245, 245, 0.8)
  );
  background-image: url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
  height: 500px;
}

h1 {
  font-size: 66px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #111;
  font-weight: 800;
  margin-top: 40px;
}

p {
  color: var(--color);
  font-size: 35px;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  margin-bottom: 120px;
}
h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.container {
  margin: 0 auto;
  height: 800px;
}

.project-img {
  max-width: 100%;
}
.project-discription {
  font-size: 18px;
  line-height: 1.2;
  color: #666;
  text-align: start;
  margin-top: 15px;
  margin-bottom: 15px;
}
h4 {
  font-size: 22px;
  text-align: start;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills__skill-project {
  padding: 3px 5px;
  margin-left: 12px;
  font-size: 17px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}
.btn {
  width: 110px;
  display: block;
  padding: 10px 15px;
  font-size: 17px;
  font-family: var(--font-family);
  color: white;
  background: var(--secondary-color);
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  transition: all 200ms ease-in-out;
  margin: 0 auto;
  margin-top: 35px;
}
footer {
  background: rgb(192, 191, 191);
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #757575;
  font-size: 16px;
  font-size: 1.6rem;
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
}
.footer-name {
  font-size: 15px;
  opacity: 0.8;
  font-style: italic;
  margin: 0 auto;
}
@media (max-width: 1385px) {
  .project-overview {
    padding-top: 140px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 25px;
  }
}

@media (max-width: 1032px) {
  .project-overview {
    height: 400px;
    padding-left: 200px;
    padding-right: 200px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .skills__skill-project {
    font-size: 12px;
  }
  .project-discription {
    font-size: 14px;
  }
}
@media (max-width: 945px) {
  .header__logo-sub {
    font-size: 15px;
  }
  .nav-link {
    font-size: 15px;
  }
  p {
    margin-top: 20px;
  }
}
@media (max-width: 840px) {
  .project-overview {
    padding-left: 30px;
    padding-right: 30px;
  }
}
